@import "../../styles/abstracts/variable.module.scss";

.container {
  margin: 0 auto 8rem;
  max-width: 90%;
}

.head {
  &__heading {
    // color: $color-primary;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
    background: -webkit-linear-gradient($color-primary, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
