@import "../../styles/abstracts/variable.module.scss";

.container {
  margin: 8rem auto;
  max-width: 90%;
}
.head {
  &__heading {
    color: $color-primary;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5rem;

    background: -webkit-linear-gradient($color-primary, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.para {
  margin-top: 4rem;
  // text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;

  cursor: pointer;
  color: #fff;
  &:hover {
    font-size: 1.4rem;
    color: $color-primary;
    text-decoration: underline;
  }
}

.list {
  display: flex;
  //   justify-content: center;

  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;

  // background: rgba(42, 37, 101, 0.4);
  border-radius: 5px;
}

@media only screen and (max-width: 700px) {
  .head {
    &__heading {
      font-size: 2rem;
    }
  }
  .list {
    // gap: 5rem;
  }

  .para {
    text-align: center;
  }
}
