@import "../../styles/abstracts/variable.module.scss";

.cta {
  flex: 0 0 47.5%;
  padding: 2rem;
  &__text {
    margin-bottom: 2rem;
  }

  &__heading {
    font-size: 3rem;
    & span {
      color: $color-primary;
    }
  }
  &__btn {
    display: flex;
    gap: 1rem;
  }
}
