@import "../../styles/abstracts/variable.module.scss";

.cta {
  flex: 0 0 47.5%;
  padding: 2rem;
  &__text {
    margin-bottom: 2rem;
  }

  &__heading {
    font-size: 3rem;
    & span {
      color: $color-primary;
    }
  }
  &__btn {
    display: flex;
    gap: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .cta {
    &__heading {
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 700px) {
  .cta {
    width: 100%;
    text-align: center;

    &__btn {
      justify-content: center;
    }
  }
}
