.hero {
  margin: 12rem auto 8rem;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
}
