$color-primary: #18a1fb;
$color-primaryBg: #181350;
$color-primaryDark: #0e0c27;

$color-white: #f5f5f5;
$color-black: #000;
$color-peach: #00c7ba;

$default-radius: 5px;
$default-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
// $border-line: 1px solid $grey-light-2;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; //1000px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; // 600px;
$bp-smallest: 31.25em; // 500px
