@import "../../styles/abstracts/variable.module.scss";

.card {
  &__container {
    width: 22%;
    border-radius: 5px;
    // background-color: #fff;
    background-color: rgba(42, 37, 101, 0.4);
    border-radius: 4.42065px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

    display: flex;
    flex-direction: column;

    &:hover {
      color: $color-primaryBg;
      background-color: #fff;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
  }
  &__content {
    padding: 2rem;
  }

  &__heading {
    color: $color-primary;
  }

  &__image {
  }

  &__img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    overflow: hidden;
  }
  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__para {
    font-size: 1.3rem;
  }

  &__btn {
    font-family: inherit;
    width: 100%;
    padding: 1rem;
    font-weight: 500;

    border-style: none;
    cursor: pointer;

    &:hover {
      color: $color-primary;
      background-color: $color-primaryBg;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .card {
    &__container {
      width: 30%;
      margin-bottom: 4rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  .card {
    &__container {
      width: 45%;
      margin-bottom: 4rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .card {
    &__container {
      width: 100%;
      margin-bottom: 4rem;
    }
  }
}
