@import "./abstracts/variable.module.scss";

.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 3.5rem;
    display: inline-block;
    border-radius: $default-radius;
    transition: all 0.2s;
    position: relative;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.3rem;
    color: $color-white;
    background-color: transparent;

    // Change of the <button> element
    border: 1.5px solid $color-primary;
    cursor: pointer;
  }

  &:hover {
    color: $color-white;
    border: 2px solid $color-primary;
    // background-color: $color-primaryDark;
    transform: translateY(-1.5px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &__white {
    color: $color-black;
    border: 1.5px solid $color-white;
    background-color: $color-white;
    font-family: inherit;

    font-size: 1.3rem;

    &:hover {
      color: $color-white;
      border: 2px solid $color-primary;
      background-color: transparent;
      transform: translateY(-1.5px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    &::after {
      // background-color: $color-primaryDark;
    }
  }

  &__transparent {
    color: $color-white;
    border: 0.5px solid $color-primary;
    background-color: transparent;

    &:hover {
      color: $color-white;
      border: 0.5px solid $color-primary;
      background-color: $color-primary;
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    &::after {
      background-color: $color-primaryDark;
    }
  }
  &__primary {
    color: $color-white;
    border: 1.5px solid $color-primary;
    background-color: $color-primary;

    &:hover {
      color: $color-white;
      border: 0.5px solid $color-primary;
      background-color: transparent;
      transform: translateY(-1.5px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    &::after {
      // background-color: $color-primaryBg;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0.7rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &__animated {
    animation: moveInBotton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &__cursor {
    cursor: default;
  }
}

// .btn-text {
//   &:link,
//   &:visited {
//     font-size: inherit;
//     color: $color-white;
//     display: inline-block;
//     text-decoration: none;
//     border-bottom: 1px solid $color-primary;
//     padding: 3px;
//     transition: all 0.2s;
//   }

//   &:hover {
//     background-color: $color-primary;
//     color: $color-white;
//     box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
//     transform: translateY(-2px);
//   }

//   &:active {
//     box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
//     transform: translateY(0px);
//   }
// }
