@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10/16px = 62.5%
  color: #fff;
  background-color: #181350;
  background-image: linear-gradient(
    to right,
    #181350,
    hsla(230, 95%, 70%, 0.474)
  );
  // @media only screen and (max-width: $bp-large) {
  //   font-size: 50%;
  // }
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-weight: 400;
  font-family: -apple-system, Montserrat, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

// a {
//   color: inherit;
//   text-decoration: none;
// }
